In [ ]:
import pandas as pd
import numpy as np

In [ ]:
v13=pd.read_excel("/content/drive/MyDrive/asac/project/eda/filtered/v13.xlsx")

## ver1. 지점당 시간 불편도 결과

### 지점 1개당 불편도 계산 (행정동 별 총합_시간불편도/ 은행 지점 수)

In [ ]:
v14=v13

In [ ]:
v14.replace(to_replace="-",value=0,inplace=True)

In [ ]:
def calc_timeloss_per_bank(x):
  if x[1]=="-" or x[1]==0:return 0
  else:return x[0]/float(x[1])

In [ ]:
v14["국민_지점1개당_시간불편도"]=v14[["총합_시간불편도","KB국민은행"]].apply(calc_timeloss_per_bank,axis=1)

In [ ]:
v14["국민_지점1개당_시간불편도"]

In [ ]:
v14["신한_지점1개당_시간불편도"]=v14[["총합_시간불편도","신한은행"]].apply(calc_timeloss_per_bank,axis=1)
v14["하나_지점1개당_시간불편도"]=v14[["총합_시간불편도","KEB하나은행"]].apply(calc_timeloss_per_bank,axis=1)
v14["우리_지점1개당_시간불편도"]=v14[["총합_시간불편도","우리은행"]].apply(calc_timeloss_per_bank,axis=1)

In [ ]:
v14.to_excel("/content/drive/MyDrive/asac/project/eda/filtered/v14.xlsx")

### 행정동별 결과 조회

지점이 있는 행정동만 가져오기

In [ ]:
bank_list=["국민_지점1개당_시간불편도","신한_지점1개당_시간불편도","하나_지점1개당_시간불편도","우리_지점1개당_시간불편도"]
bank_top_list={}
bank_bottom_list={}
total_top_list=[]
total_bottom_list=[]

In [ ]:
for bank in bank_list:
  bank_name=bank[:2]
  valid=v14[v14[bank]!=0]
  sorted=valid.sort_values(by=bank,ascending=False)
  bank_top_list[bank_name]=sorted.head(5)["행정동명"]
  bank_bottom_list[bank_name]=sorted.tail(5)["행정동명"]

In [ ]:
bank_top_list

In [ ]:
bank_bottom_list

{'국민': 0    사직동
 Name: 행정동명, dtype: object,
 '신한': 19      명동
 20      필동
 6      가회동
 10    창신1동
 17     소공동
 Name: 행정동명, dtype: object,
 '하나': 0       사직동
 1       삼청동
 6       가회동
 361    삼성1동
 79      회기동
 Name: 행정동명, dtype: object,
 '우리': 401    잠실6동
 344    서초4동
 1       삼청동
 6       가회동
 26      중림동
 Name: 행정동명, dtype: object}

### 4개 은행 총합 결과

In [ ]:
v14=v14.iloc[:426,:]
v14.tail()

In [ ]:
v14["4개은행합"]=v14["KB국민은행"]+v14["신한은행"]+v14["KEB하나은행"]+v14["우리은행"]

In [ ]:
v14["4개은행_지점1개당_시간불편도"]=v14[["총합_시간불편도","4개은행합"]].apply(calc_timeloss_per_bank,axis=1)

In [ ]:
b4_sorted=v14.sort_values(by="4개은행_지점1개당_시간불편도",ascending=False)
b4_top5=b4_sorted.head(5)["행정동명"]
b4_top5

274    오류2동
243    등촌3동
258    화곡1동
137     송중동
203    북아현동
Name: 행정동명, dtype: object

In [ ]:
b4_bottom5=b4_sorted.tail(5)["행정동명"]
b4_bottom5

244    화곡본동
245    화곡2동
247    화곡4동
252    가양3동
425    상일2동
Name: 행정동명, dtype: object

In [ ]:
v14["시중은행_지점1개당_시간불편도"]=v14[["총합_시간불편도","시중은행총합"]].apply(calc_timeloss_per_bank,axis=1)

In [ ]:
whole_sorted=v14.sort_values(by="시중은행_지점1개당_시간불편도",ascending=False)
whole_top5=whole_sorted.head(5)["행정동명"]
whole_bottom5=whole_sorted.tail(5)["행정동명"]

In [ ]:
result_pd=pd.DataFrame(
    columns=["시중은행_상위","4개은행_상위","국민은행_상위","신한은행_상위","하나은행_상위","우리은행_상위",
             "시중은행_하위","4개은행_하위","국민은행_하위","신한은행_하위","하나은행_하위","우리은행_하위"]
)
result_pd

Empty DataFrame
Columns: [시중은행_상위, 4개은행_상위, 국민은행_상위, 신한은행_상위, 하나은행_상위, 우리은행_상위, 시중은행_하위, 4개은행_하위, 국민은행_하위, 신한은행_하위, 하나은행_하위, 우리은행_하위]
Index: []

In [ ]:
result_pd['4개은행_상위']=b4_top5.values
result_pd['4개은행_하위']=b4_bottom5.values

result_pd['시중은행_상위']=whole_top5.values
result_pd['시중은행_하위']=whole_bottom5.values

for k,v in bank_top_list.items():
  result_pd[f'{k}은행_상위']=v.values

for k,v in bank_bottom_list.items():
  result_pd[f'{k}은행_하위']=v.values

result_pd.reset_index()
result_pd

,시중은행_상위,4개은행_상위,국민은행_상위,신한은행_상위,하나은행_상위,우리은행_상위,시중은행_하위,4개은행_하위,국민은행_하위,신한은행_하위,하나은행_하위,우리은행_하위
0,오류2동,오류2동,길동,길동,가산동,제기동,용문동,화곡본동,노량진2동,명동,사직동,잠실6동
1,송중동,등촌3동,용신동,회현동,용신동,잠실3동,신사2동,화곡2동,교남동,필동,삼청동,서초4동
2,세곡동,화곡1동,진관동,진관동,회현동,망우본동,신사1동,화곡4동,도곡2동,가회동,가회동,삼청동
3,신정3동,송중동,한강로동,천호2동,진관동,오류2동,구산동,가양3동,신길3동,창신1동,삼성1동,가회동
4,사당2동,북아현동,신촌동,대조동,영등포동,충현동,상일2동,상일2동,신월6동,소공동,회기동,중림동

In [ ]:
b4_top_freq=pd.Series(result_pd.loc[:,["국민은행_상위","신한은행_상위","하나은행_상위","우리은행_상위"]].values.flatten()).value_counts()
b4_bottom_freq=pd.Series(result_pd.loc[:,["국민은행_하위","신한은행_하위","하나은행_하위","우리은행_하위"]].values.flatten()).value_counts()

In [ ]:
b4_top_freq[:5]

진관동    3
길동     2
용신동    2
회현동    2
가산동    1
Name: count, dtype: int64

In [ ]:
b4_bottom_freq[:5]

가회동      3
삼청동      2
노량진2동    1
회기동      1
소공동      1
Name: count, dtype: int64

In [ ]:
result_pd["4개은행_개별_상위"]=b4_top_freq[:5].index
result_pd["4개은행_개별_하위"]=b4_bottom_freq[:5].index
result_pd

,시중은행_상위,4개은행_상위,국민은행_상위,신한은행_상위,하나은행_상위,우리은행_상위,시중은행_하위,4개은행_하위,국민은행_하위,신한은행_하위,하나은행_하위,우리은행_하위,4개은행_개별_상위,4개은행_개별_하위
0,오류2동,오류2동,길동,길동,가산동,제기동,용문동,화곡본동,노량진2동,명동,사직동,잠실6동,진관동,가회동
1,송중동,등촌3동,용신동,회현동,용신동,잠실3동,신사2동,화곡2동,교남동,필동,삼청동,서초4동,길동,삼청동
2,세곡동,화곡1동,진관동,진관동,회현동,망우본동,신사1동,화곡4동,도곡2동,가회동,가회동,삼청동,용신동,노량진2동
3,신정3동,송중동,한강로동,천호2동,진관동,오류2동,구산동,가양3동,신길3동,창신1동,삼성1동,가회동,회현동,회기동
4,사당2동,북아현동,신촌동,대조동,영등포동,충현동,상일2동,상일2동,신월6동,소공동,회기동,중림동,가산동,소공동

In [ ]:
result_pd.to_excel("/content/drive/MyDrive/asac/project/eda/filtered/불편도랭킹_은행별결과.xlsx")

## ver2. 방문할 가능성이 있는 동으로부터 시간불편도 결과

### 해당 행정동 은행을 방문하는 다른 행정동 수

In [ ]:
def count_visit(x):
  return len(v15[v15["가까운은행"].str.contains(x)])

In [ ]:
v15["방문하는행정동수"]=v15[v15["유효신한"]!=0].loc[:,"행정동명"].apply(count_visit)

In [ ]:
v15["방문하는행정동수"].fillna(0,inplace=True)

In [ ]:
v15.to_excel("/content/drive/MyDrive/asac/project/eda/filtered/v22.xlsx")

### 방문할 가능성이 있는 동으로부터 시간불편도 다시 계산(신한ver)

In [ ]:
v15=pd.read_excel("/content/drive/MyDrive/asac/project/eda/filtered/v22.xlsx")

In [ ]:
v15.replace(to_replace="-",value=0,inplace=True)

In [ ]:
v15=v15.loc[:425,:]
v15

In [ ]:
v15[v15["가까운은행"].str.contains("사직동")].loc[:,"총합_시간불편도"].sum()

5735906310.299999

In [ ]:
def calc_timeloss(x):
  name=x[0]
  cnt=x[1]
  return (v15[v15["가까운은행"].str.contains(x[0])].loc[:,"총합_시간불편도"].sum())/x[1]

In [ ]:
v15["신한은행_지점당_시간불편도"]=v15[v15["유효신한"]!=0].loc[:,["행정동명","유효신한"]].apply(calc_timeloss,axis=1)

In [ ]:
v15["신한은행_지점당_시간불편도"]

In [ ]:
s_sorted=v15[v15["신한은행_지점당_시간불편도"]!=0].sort_values(by="신한은행_지점당_시간불편도",ascending=False)
s_top5=s_sorted.head(5)["행정동명"]
s_top5

99       중화1동
407      명일1동
422        길동
262      구로3동
172    상계6.7동
Name: 행정동명, dtype: object

In [ ]:
s_tails=s_sorted[s_sorted["신한은행_지점당_시간불편도"].notnull()]
s_tail5=s_tails.tail(5)["행정동명"]
s_tail5

375    압구정동
365    역삼1동
286     여의동
361    삼성1동
343    서초3동
Name: 행정동명, dtype: object

### 상위, 하위 (청년, 중장년층)

In [ ]:
v15=pd.read_excel("/content/drive/MyDrive/asac/project/eda/filtered/v22.xlsx")

In [ ]:
v15["신한은행_지점당_청장년층불편도"]=v15[v15["유효신한"]!=0].loc[:,["청장년층_시간불편도","유효신한"]].apply(lambda x:x[0]/x[1],axis=1)

y_sorted=v15.sort_values(by="신한은행_지점당_청장년층불편도",ascending=False)
y_top5=y_sorted.head(10)["행정동명"]
y_top5

276     가산동
262    구로3동
366    역삼2동
45     한강로동
18      회현동
Name: 행정동명, dtype: object

In [ ]:
v15[v15["신한은행_지점당_시간불편도"]!=0]["신한은행_지점당_시간불편도"].median()

9379170788.9

In [ ]:
v15["신한은행_지점당_노년층불편도"]=v15[v15["유효신한"]!=0].loc[:,["노인층_시간불편도","유효신한"]].apply(lambda x:x[0]/x[1],axis=1)

o_sorted=v15.sort_values(by="신한은행_지점당_노년층불편도",ascending=False)
o_top5=o_sorted.head(5)["행정동명"]
o_top5

422      길동
187     진관동
18      회현동
301    영등포동
421    천호2동
Name: 행정동명, dtype: object

In [ ]:
v15.to_excel("/content/drive/MyDrive/asac/project/eda/filtered/v21.xlsx")