In [ ]:
import numpy as np
import pandas as pd

In [ ]:
prediction=pd.DataFrame(
    columns=["행정동","추정행정동1","결과1","추정행정동2","결과2"]
)
prediction

Empty DataFrame
Columns: [행정동, 추정행정동1, 결과1, 추정행정동2, 결과2]
Index: []

### 공통

In [ ]:
# p8="/content/drive/MyDrive/asac/project/eda/filtered/v8_노년층연평균소득계산.xlsx"
# v8=pd.read_excel(p8)
# v8.drop(v8.columns[0],axis=1,inplace=True)
# v8

In [ ]:
p15="/content/drive/MyDrive/asac/project/eda/filtered/v15_신한.xlsx"
v15=pd.read_excel(p15)
v15.drop(v15.columns[0],axis=1,inplace=True)
v8=v15

In [ ]:
null_pd=v8[v8["노년층연평균소득"]==0]
null_pd #1
not_null_pd=v8[v8["노년층연평균소득"]!=0]
not_null_pd

In [ ]:
prediction["행정동"]=null_pd.loc[:,"행정동명"]
prediction

         행정동 추정행정동1  결과1 추정행정동2  결과2
0        사직동    NaN  NaN    NaN  NaN
2        부암동    NaN  NaN    NaN  NaN
4        무악동    NaN  NaN    NaN  NaN
5        교남동    NaN  NaN    NaN  NaN
8    종로5.6가동    NaN  NaN    NaN  NaN
..       ...    ...  ...    ...  ...
418     둔촌1동    NaN  NaN    NaN  NaN
420     암사1동    NaN  NaN    NaN  NaN
421     천호2동    NaN  NaN    NaN  NaN
424     상일1동    NaN  NaN    NaN  NaN
425     상일2동    NaN  NaN    NaN  NaN

[144 rows x 5 columns]

In [ ]:
def collect_dong(gu_name):
  return not_null_pd[not_null_pd["시군구명"]==gu_name]

In [ ]:
target_column="전연령월평균소득"
predict_column="노년층연평균소득"

### 1.총소득이 비슷한 동을 찾아 추정

1. 노년층 연평균 소득이 없는 값들과
2. 동일한 시군구를 뽑아
3. 해당 구에 속하는 열들의 '전 연령평균소득' 중 가장 가까운 값 하나를 골라서
3. 그 값과의 비율을 계산하여 연평균소득 추정

In [ ]:
def get_similar_dong(dongs,target_value,target_column):
  dif=int(1e9)
  similar_name=""
  similar_value=0
  similar_income=0
  for idx, row in dongs.iterrows():
    temp=abs(row[target_column]-target_value)
    if temp<dif:
      dif=temp
      similar_name=row["행정동명"]
      similar_value=row[predict_column]
      similar_income=row[target_column]

  return similar_name,similar_value,similar_income

In [ ]:
v9=v8

In [ ]:
for index,row in null_pd.iterrows():
  gu_name=row["시군구명"]
  dong_name=row["행정동명"]
  target_value=row[target_column]

  dongs_pd=collect_dong(gu_name) #3
  similar_dong_name,similar_dong_value,similar_income=get_similar_dong(dongs_pd,target_value,target_column)

  # 4. 가장 비슷한 동과의 비율통해 소득 추정
  # 전체월평균소득a:전체월평균소득b=노년층연평균소득A:노년층연평균소득추정B
  # B*a=b*A
  # B=(b*A)/a
  predict=(row["전연령월평균소득"]*similar_dong_value)/similar_income

  updated=v8[v8["행정동명"]==dong_name]

  v9.loc[v9["행정동명"]==dong_name,"노년층연평균소득추정"]=predict
  print(v9[v9["행정동명"]==dong_name]["노년층연평균소득추정"])

  prediction.loc[prediction["행정동"]==dong_name,["추정행정동1","결과1"]]=[similar_dong_name,predict]

0    4033.393906
Name: 노년층연평균소득추정, dtype: float64
2    5022.211256
Name: 노년층연평균소득추정, dtype: float64
4    4109.72944
Name: 노년층연평균소득추정, dtype: float64
5    3695.346209
Name: 노년층연평균소득추정, dtype: float64
8    3212.182617
Name: 노년층연평균소득추정, dtype: float64
10    3045.012899
Name: 노년층연평균소득추정, dtype: float64
12    6301.328383
Name: 노년층연평균소득추정, dtype: float64
13    6031.753709
Name: 노년층연평균소득추정, dtype: float64
16    5468.950055
Name: 노년층연평균소득추정, dtype: float64
17    5288.343246
Name: 노년층연평균소득추정, dtype: float64
18    4359.06785
Name: 노년층연평균소득추정, dtype: float64
20    4861.142012
Name: 노년층연평균소득추정, dtype: float64
21    4673.3112
Name: 노년층연평균소득추정, dtype: float64
22    6383.313447
Name: 노년층연평균소득추정, dtype: float64
23    4862.515793
Name: 노년층연평균소득추정, dtype: float64
27    4515.119345
Name: 노년층연평균소득추정, dtype: float64
28    4304.126256
Name: 노년층연평균소득추정, dtype: float64
31    3455.81548
Name: 노년층연평균소득추정, dtype: float64
33    7584.22842
Name: 노년층연평균소득추정, dtype: float64
36    9422.693855
Name: 노년층연평균소득추정, dtype: float64
37    9318.644334
Name: 노년층연평균소득추정, dtype: float64
38    9607.054412
Name: 노년층연평균소득추정, dtype: float64
39    9822.588232
Name: 노년층연평균소득추정, dtype: float64
40    6479.730409
Name: 노년층연평균소득추정, dtype: float64
47    4923.475216
Name: 노년층연평균소득추정, dtype: float64
48    3616.511389
Name: 노년층연평균소득추정, dtype: float64
49    3720.616197
Name: 노년층연평균소득추정, dtype: float64
51    5558.271375
Name: 노년층연평균소득추정, dtype: float64
53    7795.526516
Name: 노년층연평균소득추정, dtype: float64
54    5558.698981
Name: 노년층연평균소득추정, dtype: float64
56    3888.080684
Name: 노년층연평균소득추정, dtype: float64
58    4769.373137
Name: 노년층연평균소득추정, dtype: float64
59    6098.418542
Name: 노년층연평균소득추정, dtype: float64
61    7959.913538
Name: 노년층연평균소득추정, dtype: float64
65    5599.9201
Name: 노년층연평균소득추정, dtype: float64
66    4269.539933
Name: 노년층연평균소득추정, dtype: float64
68    6348.214225
Name: 노년층연평균소득추정, dtype: float64
70    5285.658783
Name: 노년층연평균소득추정, dtype: float64
71    9525.902298
Name: 노년층연평균소득추정, dtype: float64
74    9163.374245
Name: 노년층연평균소득추정, dtype: float64
80    3978.924592
Name: 노년층연평균소득추정, dtype: float64
86    5513.696483
Name: 노년층연평균소득추정, dtype: float64
91    4203.603149
Name: 노년층연평균소득추정, dtype: float64
92    5523.627877
Name: 노년층연평균소득추정, dtype: float64
95    4453.28884
Name: 노년층연평균소득추정, dtype: float64
105    5084.438023
Name: 노년층연평균소득추정, dtype: float64
112    5677.787653
Name: 노년층연평균소득추정, dtype: float64
113    4264.995968
Name: 노년층연평균소득추정, dtype: float64
115    5010.113067
Name: 노년층연평균소득추정, dtype: float64
121    4492.793521
Name: 노년층연평균소득추정, dtype: float64
123    4663.676464
Name: 노년층연평균소득추정, dtype: float64
124    5139.535412
Name: 노년층연평균소득추정, dtype: float64
129    4674.598356
Name: 노년층연평균소득추정, dtype: float64
130    4672.349317
Name: 노년층연평균소득추정, dtype: float64
131    7602.055021
Name: 노년층연평균소득추정, dtype: float64
132    4494.741704
Name: 노년층연평균소득추정, dtype: float64
133    7678.867474
Name: 노년층연평균소득추정, dtype: float64
134    4479.124581
Name: 노년층연평균소득추정, dtype: float64
137    7608.319208
Name: 노년층연평균소득추정, dtype: float64
138    3828.704833
Name: 노년층연평균소득추정, dtype: float64
143    3680.9772
Name: 노년층연평균소득추정, dtype: float64
154    8067.103082
Name: 노년층연평균소득추정, dtype: float64
158    3928.167157
Name: 노년층연평균소득추정, dtype: float64
161    5192.676716
Name: 노년층연평균소득추정, dtype: float64
163    7020.617541
Name: 노년층연평균소득추정, dtype: float64
171    6435.877319
Name: 노년층연평균소득추정, dtype: float64
178    4378.037087
Name: 노년층연평균소득추정, dtype: float64
184    3560.042294
Name: 노년층연평균소득추정, dtype: float64
185    5939.083735
Name: 노년층연평균소득추정, dtype: float64
186    4317.922021
Name: 노년층연평균소득추정, dtype: float64
195    4809.575792
Name: 노년층연평균소득추정, dtype: float64
197    5714.677415
Name: 노년층연평균소득추정, dtype: float64
200    5361.639195
Name: 노년층연평균소득추정, dtype: float64
202    7539.39713
Name: 노년층연평균소득추정, dtype: float64
203    5584.639425
Name: 노년층연평균소득추정, dtype: float64
204    5427.439502
Name: 노년층연평균소득추정, dtype: float64
206    4073.367883
Name: 노년층연평균소득추정, dtype: float64
207    4831.276044
Name: 노년층연평균소득추정, dtype: float64
208    8663.374361
Name: 노년층연평균소득추정, dtype: float64
214    7784.088845
Name: 노년층연평균소득추정, dtype: float64
218    4174.983872
Name: 노년층연평균소득추정, dtype: float64
219    4305.73805
Name: 노년층연평균소득추정, dtype: float64
228    4899.568067
Name: 노년층연평균소득추정, dtype: float64
230    12132.391836
Name: 노년층연평균소득추정, dtype: float64
231    10138.485008
Name: 노년층연평균소득추정, dtype: float64
235    7395.083655
Name: 노년층연평균소득추정, dtype: float64
236    5744.701903
Name: 노년층연평균소득추정, dtype: float64
237    2081.478606
Name: 노년층연평균소득추정, dtype: float64
249    4921.428367
Name: 노년층연평균소득추정, dtype: float64
250    5838.220545
Name: 노년층연평균소득추정, dtype: float64
263    6266.870626
Name: 노년층연평균소득추정, dtype: float64
270    6674.423408
Name: 노년층연평균소득추정, dtype: float64
273    6977.693749
Name: 노년층연평균소득추정, dtype: float64
275    5994.134162
Name: 노년층연평균소득추정, dtype: float64
276    5327.666785
Name: 노년층연평균소득추정, dtype: float64
277    8872.80942
Name: 노년층연평균소득추정, dtype: float64
278    8177.317914
Name: 노년층연평균소득추정, dtype: float64
282    9409.422384
Name: 노년층연평균소득추정, dtype: float64
283    5189.848891
Name: 노년층연평균소득추정, dtype: float64
286    5277.383222
Name: 노년층연평균소득추정, dtype: float64
293    9516.358837
Name: 노년층연평균소득추정, dtype: float64
297    9025.439128
Name: 노년층연평균소득추정, dtype: float64
298    9439.035979
Name: 노년층연평균소득추정, dtype: float64
300    10126.639266
Name: 노년층연평균소득추정, dtype: float64
301    3450.424468
Name: 노년층연평균소득추정, dtype: float64
302    8682.416157
Name: 노년층연평균소득추정, dtype: float64
304    3867.93613
Name: 노년층연평균소득추정, dtype: float64
308    4119.999591
Name: 노년층연평균소득추정, dtype: float64
310    4654.370512
Name: 노년층연평균소득추정, dtype: float64
314    7337.480013
Name: 노년층연평균소득추정, dtype: float64
315    5088.127367
Name: 노년층연평균소득추정, dtype: float64
321    4596.175864
Name: 노년층연평균소득추정, dtype: float64
325    6334.128904
Name: 노년층연평균소득추정, dtype: float64
327    11312.112238
Name: 노년층연평균소득추정, dtype: float64
331    5378.876444
Name: 노년층연평균소득추정, dtype: float64
336    8601.618785
Name: 노년층연평균소득추정, dtype: float64
341    11469.355123
Name: 노년층연평균소득추정, dtype: float64
342    8282.560679
Name: 노년층연평균소득추정, dtype: float64
346    7791.144452
Name: 노년층연평균소득추정, dtype: float64
348    10003.664703
Name: 노년층연평균소득추정, dtype: float64
352    5421.438105
Name: 노년층연평균소득추정, dtype: float64
361    6245.356534
Name: 노년층연평균소득추정, dtype: float64
363    7877.958091
Name: 노년층연평균소득추정, dtype: float64
366    6789.149584
Name: 노년층연평균소득추정, dtype: float64
370    5786.200792
Name: 노년층연평균소득추정, dtype: float64
373    5663.052515
Name: 노년층연평균소득추정, dtype: float64
378    6251.124416
Name: 노년층연평균소득추정, dtype: float64
379    0.0
Name: 노년층연평균소득추정, dtype: float64
385    5158.590566
Name: 노년층연평균소득추정, dtype: float64
389    5664.267966
Name: 노년층연평균소득추정, dtype: float64
393    4467.167238
Name: 노년층연평균소득추정, dtype: float64
394    5697.243829
Name: 노년층연평균소득추정, dtype: float64
395    9981.291997
Name: 노년층연평균소득추정, dtype: float64
398    9271.56889
Name: 노년층연평균소득추정, dtype: float64
401    6413.163824
Name: 노년층연평균소득추정, dtype: float64
402    5904.705125
Name: 노년층연평균소득추정, dtype: float64
410    8091.220601
Name: 노년층연평균소득추정, dtype: float64
411    4766.176124
Name: 노년층연평균소득추정, dtype: float64
415    7126.335197
Name: 노년층연평균소득추정, dtype: float64
418    4612.128989
Name: 노년층연평균소득추정, dtype: float64
420    7102.864024
Name: 노년층연평균소득추정, dtype: float64
421    8427.925791
Name: 노년층연평균소득추정, dtype: float64
424    0.0
Name: 노년층연평균소득추정, dtype: float64
425    0.0
Name: 노년층연평균소득추정, dtype: float64

In [ ]:
prediction

         행정동 추정행정동1          결과1 추정행정동2  결과2
0        사직동    평창동  4033.393906    NaN  NaN
2        부암동  청운효자동  5022.211256    NaN  NaN
4        무악동    평창동   4109.72944    NaN  NaN
5        교남동    평창동  3695.346209    NaN  NaN
8    종로5.6가동   숭인2동  3212.182617    NaN  NaN
..       ...    ...          ...    ...  ...
418     둔촌1동   명일1동  4612.128989    NaN  NaN
420     암사1동     길동  7102.864024    NaN  NaN
421     천호2동   성내2동  8427.925791    NaN  NaN
424     상일1동   천호1동          0.0    NaN  NaN
425     상일2동   천호1동          0.0    NaN  NaN

[144 rows x 5 columns]

In [ ]:
v9.loc[:,"노년층연평균소득추정"]

0      4033.393906
1              NaN
2      5022.211256
3              NaN
4      4109.729440
          ...
422            NaN
423            NaN
424            NaN
425            NaN
426            NaN
Name: 노년층연평균소득추정, Length: 427, dtype: float64

In [ ]:
v9.to_excel("/content/drive/MyDrive/asac/project/eda/filtered/v9.xlsx")

### 2.서울시 전역에서 총소득 비슷한 동 찾기

In [ ]:
v9_1=v15

In [ ]:
v9_1

In [ ]:
#서울 전역에서 가장 소득 비슷한 곳 찾기
def get_similar_dong2(target_value,target_column):
  dif=int(1e9)
  similar_name=""
  similar_value=0
  similar_income=0

  for idx, row in not_null_pd.iterrows():
    temp=abs(row[target_column]-target_value)
    if temp<dif:
      dif=temp
      similar_name=row["행정동명"]
      similar_value=row[predict_column]
      similar_income=row[target_column]

  print(similar_name,similar_value)

  return similar_name,similar_value,similar_income

In [ ]:
for index,row in null_pd.iterrows():
  gu_name=row["시군구명"]
  dong_name=row["행정동명"]
  target_value=row[target_column]

  similar_dong_name,similar_dong_value,similar_income=get_similar_dong2(target_value,target_column)

  # 4. 가장 비슷한 동과의 비율통해 소득 추정
  # 전체월평균소득a:전체월평균소득b=노년층연평균소득A:노년층연평균소득추정B
  # B*a=b*A
  # B=(b*A)/a
  predict=(row["전연령월평균소득"]*similar_dong_value)/similar_income

  v9_1.loc[v9_1["행정동명"]==dong_name,"노년층연평균소득추정"]=predict
  print(v9_1[v9_1["행정동명"]==dong_name]["노년층연평균소득추정"])

  prediction.loc[prediction["행정동"]==dong_name,["추정행정동3","결과3"]]=[similar_dong_name,predict]

청담동 4134.418529
0    4114.129636
Name: 노년층연평균소득추정, dtype: float64
하계1동 5197.557873
2    5218.848375
Name: 노년층연평균소득추정, dtype: float64
신사동 6241.738762
4    6235.319175
Name: 노년층연평균소득추정, dtype: float64
고덕1동 8687.357498
5    8663.660905
Name: 노년층연평균소득추정, dtype: float64
개봉3동 4641.052786
8    4647.016967
Name: 노년층연평균소득추정, dtype: float64
독산3동 6311.168328
10    6308.65205
Name: 노년층연평균소득추정, dtype: float64
풍납1동 9889.606606
12    9899.86888
Name: 노년층연평균소득추정, dtype: float64
고척2동 9773.790866
13    9753.018636
Name: 노년층연평균소득추정, dtype: float64
등촌1동 6477.651201
16    6485.544144
Name: 노년층연평균소득추정, dtype: float64
도곡1동 6828.781764
17    6786.724031
Name: 노년층연평균소득추정, dtype: float64
원효로1동 3704.103231
18    3708.740641
Name: 노년층연평균소득추정, dtype: float64
녹번동 5472.051751
20    5473.293985
Name: 노년층연평균소득추정, dtype: float64
성내3동 10368.68327
21    10375.56765
Name: 노년층연평균소득추정, dtype: float64
장지동 3176.197422
22    3167.482866
Name: 노년층연평균소득추정, dtype: float64
녹번동 5472.051751
23    5474.840762
Name: 노년층연평균소득추정, dtype: float64
제기동 4077.695222
27    4090.56834
Name: 노년층연평균소득추정, dtype: float64
미성동 5630.24924
28    5627.015112
Name: 노년층연평균소득추정, dtype: float64
역삼1동 5872.408234
31    5881.16129
Name: 노년층연평균소득추정, dtype: float64
서림동 8214.705718
33    8206.534321
Name: 노년층연평균소득추정, dtype: float64
답십리1동 9493.854323
36    9502.748704
Name: 노년층연평균소득추정, dtype: float64
대치2동 8328.936458
37    8305.125024
Name: 노년층연평균소득추정, dtype: float64
노량진1동 3847.383645
38    3840.984264
Name: 노년층연평균소득추정, dtype: float64
양평2동 6690.185558
39    6688.521351
Name: 노년층연평균소득추정, dtype: float64
장지동 3176.197422
40    3167.516851
Name: 노년층연평균소득추정, dtype: float64
삼청동 4630.145599
47    4621.033954
Name: 노년층연평균소득추정, dtype: float64
상계1동 4060.716641
48    4059.393626
Name: 노년층연평균소득추정, dtype: float64
묵1동 5163.491845
49    5160.401224
Name: 노년층연평균소득추정, dtype: float64
중림동 4348.972916
51    4336.157604
Name: 노년층연평균소득추정, dtype: float64
내곡동 4961.775163
53    4967.07449
Name: 노년층연평균소득추정, dtype: float64
중림동 4348.972916
54    4336.491191
Name: 노년층연평균소득추정, dtype: float64
장지동 3176.197422
56    3170.314373
Name: 노년층연평균소득추정, dtype: float64
등촌2동 4666.460978
58    4669.68921
Name: 노년층연평균소득추정, dtype: float64
면목4동 3563.123047
59    3559.430553
Name: 노년층연평균소득추정, dtype: float64
구의3동 3450.184993
61    3446.304601
Name: 노년층연평균소득추정, dtype: float64
구산동 1606.615745
65    1607.530997
Name: 노년층연평균소득추정, dtype: float64
보광동 7597.633239
66    7604.41471
Name: 노년층연평균소득추정, dtype: float64
불광2동 6527.085353
68    6523.49598
Name: 노년층연평균소득추정, dtype: float64
길동 7102.788457
70    7105.805814
Name: 노년층연평균소득추정, dtype: float64
미성동 5630.24924
71    5656.376777
Name: 노년층연평균소득추정, dtype: float64
반포4동 8387.14973
74    8384.464455
Name: 노년층연평균소득추정, dtype: float64
신월2동 9742.53894
80    9735.920172
Name: 노년층연평균소득추정, dtype: float64
송파1동 5925.046517
86    5927.994975
Name: 노년층연평균소득추정, dtype: float64
방학3동 8256.697604
91    8255.083323
Name: 노년층연평균소득추정, dtype: float64
화곡3동 5816.65647
92    5817.262771
Name: 노년층연평균소득추정, dtype: float64
창3동 7910.478633
95    7910.991568
Name: 노년층연평균소득추정, dtype: float64
휘경2동 5396.860501
105    5398.941924
Name: 노년층연평균소득추정, dtype: float64
송파1동 5925.046517
112    5924.053225
Name: 노년층연평균소득추정, dtype: float64
등촌1동 6477.651201
113    6488.400413
Name: 노년층연평균소득추정, dtype: float64
화곡1동 4946.547704
115    4945.728723
Name: 노년층연평균소득추정, dtype: float64
창3동 7910.478633
121    7907.651007
Name: 노년층연평균소득추정, dtype: float64
홍은1동 8238.681142
123    8242.408025
Name: 노년층연평균소득추정, dtype: float64
가회동 8000.687616
124    8004.607749
Name: 노년층연평균소득추정, dtype: float64
미아동 4708.680905
129    4674.598356
Name: 노년층연평균소득추정, dtype: float64
미아동 4708.680905
130    4672.349317
Name: 노년층연평균소득추정, dtype: float64
창2동 7787.049053
131    7783.876972
Name: 노년층연평균소득추정, dtype: float64
망우3동 4441.817968
132    4419.03979
Name: 노년층연평균소득추정, dtype: float64
상봉2동 4803.556024
133    4811.772017
Name: 노년층연평균소득추정, dtype: float64
망우3동 4441.817968
134    4403.685696
Name: 노년층연평균소득추정, dtype: float64
창2동 7787.049053
137    7790.290983
Name: 노년층연평균소득추정, dtype: float64
신사동 5362.815628
138    5358.883032
Name: 노년층연평균소득추정, dtype: float64
마천1동 5363.940885
143    5365.950675
Name: 노년층연평균소득추정, dtype: float64
난곡동 6299.194084
154    6323.423755
Name: 노년층연평균소득추정, dtype: float64
묵1동 5163.491845
158    5161.661651
Name: 노년층연평균소득추정, dtype: float64
신길7동 3488.07666
161    3489.815319
Name: 노년층연평균소득추정, dtype: float64
고덕1동 8687.357498
163    8739.470804
Name: 노년층연평균소득추정, dtype: float64
신사1동 3559.394902
171    3560.517989
Name: 노년층연평균소득추정, dtype: float64
보광동 7597.633239
178    7607.415299
Name: 노년층연평균소득추정, dtype: float64
신사1동 3559.394902
184    3560.042294
Name: 노년층연평균소득추정, dtype: float64
청량리동 5321.058932
185    5315.213771
Name: 노년층연평균소득추정, dtype: float64
황학동 6350.35394
186    6346.655284
Name: 노년층연평균소득추정, dtype: float64
양평2동 6690.185558
195    6693.786922
Name: 노년층연평균소득추정, dtype: float64
고척2동 9773.790866
197    9744.898647
Name: 노년층연평균소득추정, dtype: float64
구의3동 3450.184993
200    3440.696116
Name: 노년층연평균소득추정, dtype: float64
불광1동 4267.289463
202    4276.03958
Name: 노년층연평균소득추정, dtype: float64
상암동 4138.26561
203    4143.725075
Name: 노년층연평균소득추정, dtype: float64
등촌1동 6477.651201
204    6490.44479
Name: 노년층연평균소득추정, dtype: float64
신정2동 2408.321848
206    2434.736145
Name: 노년층연평균소득추정, dtype: float64
둔촌2동 7083.971971
207    7071.993484
Name: 노년층연평균소득추정, dtype: float64
방이1동 3543.584645
208    3533.769104
Name: 노년층연평균소득추정, dtype: float64
상봉1동 8301.894263
214    8291.323383
Name: 노년층연평균소득추정, dtype: float64
중계본동 6377.032256
218    6376.242864
Name: 노년층연평균소득추정, dtype: float64
송파2동 9038.997144
219    8986.416043
Name: 노년층연평균소득추정, dtype: float64
창신2동 7708.344261
228    7861.210254
Name: 노년층연평균소득추정, dtype: float64
신정4동 12146.87847
230    12132.391836
Name: 노년층연평균소득추정, dtype: float64
공항동 5566.884336
231    5569.874538
Name: 노년층연평균소득추정, dtype: float64
상계8동 6359.570239
235    6350.376001
Name: 노년층연평균소득추정, dtype: float64
도곡1동 6828.781764
236    6799.440857
Name: 노년층연평균소득추정, dtype: float64
진관동 5858.541223
237    5864.474218
Name: 노년층연평균소득추정, dtype: float64
천호1동 8167.565976
249    8165.436697
Name: 노년층연평균소득추정, dtype: float64
노량진1동 3847.383645
250    3844.465952
Name: 노년층연평균소득추정, dtype: float64
대학동 3683.279071
263    3686.377224
Name: 노년층연평균소득추정, dtype: float64
미성동 5630.24924
270    5642.495787
Name: 노년층연평균소득추정, dtype: float64
제기동 4077.695222
273    4087.810299
Name: 노년층연평균소득추정, dtype: float64
방화3동 9236.224186
275    9238.929608
Name: 노년층연평균소득추정, dtype: float64
상봉2동 4803.556024
276    4812.646572
Name: 노년층연평균소득추정, dtype: float64
자양2동 9916.907784
277    9917.923546
Name: 노년층연평균소득추정, dtype: float64
중화2동 7028.706456
278    7010.340979
Name: 노년층연평균소득추정, dtype: float64
발산1동 5571.516039
282    5570.688946
Name: 노년층연평균소득추정, dtype: float64
개봉3동 4641.052786
283    4635.218485
Name: 노년층연평균소득추정, dtype: float64
목1동 6031.578134
286    5976.439752
Name: 노년층연평균소득추정, dtype: float64
방화2동 3703.269366
293    3708.686099
Name: 노년층연평균소득추정, dtype: float64
상봉2동 4803.556024
297    4801.970192
Name: 노년층연평균소득추정, dtype: float64
미성동 5630.24924
298    5659.772589
Name: 노년층연평균소득추정, dtype: float64
난향동 8136.245861
300    8155.222268
Name: 노년층연평균소득추정, dtype: float64
돈암1동 4368.056545
301    4369.163159
Name: 노년층연평균소득추정, dtype: float64
정릉4동 5517.293563
302    5518.598525
Name: 노년층연평균소득추정, dtype: float64
화곡4동 4468.407283
304    4457.581493
Name: 노년층연평균소득추정, dtype: float64
면목4동 3563.123047
308    3562.012181
Name: 노년층연평균소득추정, dtype: float64
성수1가1동 7679.426087
310    7689.73356
Name: 노년층연평균소득추정, dtype: float64
행당1동 5719.521204
314    5712.005701
Name: 노년층연평균소득추정, dtype: float64
등촌2동 4666.460978
315    4671.098365
Name: 노년층연평균소득추정, dtype: float64
안암동 5444.306086
321    5447.971008
Name: 노년층연평균소득추정, dtype: float64
종로1.2.3.4가동 5317.032455
325    5318.136955
Name: 노년층연평균소득추정, dtype: float64
화곡4동 4468.407283
327    4456.001852
Name: 노년층연평균소득추정, dtype: float64
구로2동 3949.718876
331    3947.970094
Name: 노년층연평균소득추정, dtype: float64
삼청동 4630.145599
336    4615.577163
Name: 노년층연평균소득추정, dtype: float64
옥수동 6084.133148
341    6026.458509
Name: 노년층연평균소득추정, dtype: float64
아현동 4454.615039
342    4453.428233
Name: 노년층연평균소득추정, dtype: float64
목1동 6031.578134
346    5995.927255
Name: 노년층연평균소득추정, dtype: float64
도곡2동 6960.903842
348    7173.553988
Name: 노년층연평균소득추정, dtype: float64
진관동 5858.541223
352    5870.628415
Name: 노년층연평균소득추정, dtype: float64
신사동 6241.738762
361    6245.356534
Name: 노년층연평균소득추정, dtype: float64
도곡2동 6960.903842
363    7877.958091
Name: 노년층연평균소득추정, dtype: float64
도곡1동 6828.781764
366    6789.149584
Name: 노년층연평균소득추정, dtype: float64
창4동 5441.113808
370    5435.671332
Name: 노년층연평균소득추정, dtype: float64
행당1동 5719.521204
373    5699.098063
Name: 노년층연평균소득추정, dtype: float64
신사동 6241.738762
378    6251.124416
Name: 노년층연평균소득추정, dtype: float64
방학2동 5566.658312
379    0.0
Name: 노년층연평균소득추정, dtype: float64
가리봉동 5866.885608
385    5862.930588
Name: 노년층연평균소득추정, dtype: float64
답십리1동 9493.854323
389    9489.322525
Name: 노년층연평균소득추정, dtype: float64
신길1동 7002.355132
393    7001.530412
Name: 노년층연평균소득추정, dtype: float64
당산1동 6581.538271
394    6582.592391
Name: 노년층연평균소득추정, dtype: float64
옥수동 6084.133148
395    6068.596216
Name: 노년층연평균소득추정, dtype: float64
암사3동 5924.946639
398    5934.473311
Name: 노년층연평균소득추정, dtype: float64
아현동 4454.615039
401    4471.062136
Name: 노년층연평균소득추정, dtype: float64
목5동 6511.576193
402    6525.592222
Name: 노년층연평균소득추정, dtype: float64
우이동 3853.085528
410    3849.010294
Name: 노년층연평균소득추정, dtype: float64
청림동 5056.003003
411    5050.996423
Name: 노년층연평균소득추정, dtype: float64
목4동 3921.265337
415    3933.631608
Name: 노년층연평균소득추정, dtype: float64
문정1동 5764.276524
418    5760.946359
Name: 노년층연평균소득추정, dtype: float64
길동 7102.788457
420    7102.864024
Name: 노년층연평균소득추정, dtype: float64
자양1동 9700.151423
421    9713.01975
Name: 노년층연평균소득추정, dtype: float64
방학2동 5566.658312
424    0.0
Name: 노년층연평균소득추정, dtype: float64
방학2동 5566.658312
425    0.0
Name: 노년층연평균소득추정, dtype: float64

In [ ]:
v9_1.to_excel("/content/drive/MyDrive/asac/project/eda/filtered/v16_신한.xlsx")

### 3. 가까운 동을 찾아 그곳과의 비율로 추정

In [ ]:
# !pip install geopy
import geopy.distance

In [ ]:
lpath="/content/drive/MyDrive/asac/project/eda/행정동_위도경도.xlsx"
lpd=pd.read_excel(lpath)
lpd

     행정동명              주소   Latitude   Longitude
0     사직동   서울특별시 종로구 사직동  37.573878  126.970561
1     삼청동   서울특별시 종로구 삼청동  37.590765  126.981016
2     부암동   서울특별시 종로구 부암동  37.594759  126.965589
3     평창동   서울특별시 종로구 평창동  37.613029  126.974503
4     무악동   서울특별시 종로구 무악동  37.576442  126.959311
..    ...             ...        ...         ...
421  천호2동  서울특별시 강동구 천호2동  37.544218  127.125015
422    길동    서울특별시 강동구 길동  37.539616  127.145929
423   강일동   서울특별시 강동구 강일동  37.567526  127.172931
424  상일1동  서울특별시 강동구 상일1동  37.550505  127.168367
425  상일2동  서울특별시 강동구 상일2동  37.554123  127.175811

[426 rows x 4 columns]

In [ ]:
geopy.distance.distance((37.573878,126.970561),(37.590765,126.981016)).km

2.0894179513466136

In [ ]:
lpd[lpd["행정동명"]=="사직동"].at[0,"Latitude"]

37.5738782

In [ ]:
# v10=v9
v10=v9_1

In [ ]:
def get_nearest_dong(dongs,target_name,target_column):
  dif=int(1e9)
  similar_name=""
  similar_value=0
  similar_income=0

  latitude=lpd[lpd["행정동명"]==target_name].loc[:,"Latitude"].iat[0]
  longitude=lpd[lpd["행정동명"]==target_name].loc[:,"Longitude"].iat[0]

  for idx, row in dongs.iterrows():
    temp_name=row["행정동명"]

    latitude2=lpd[lpd["행정동명"]==temp_name].loc[:,"Latitude"].iat[0]
    longitude2=lpd[lpd["행정동명"]==temp_name].loc[:,"Longitude"].iat[0]

    temp_dist=geopy.distance.distance((latitude,longitude),(latitude2,longitude2))

    if temp_dist<dif:
      dif=temp_dist
      similar_name=row["행정동명"]
      similar_value=row[predict_column]
      similar_income=row[target_column]

  return similar_name,similar_value,similar_income

In [ ]:
for index,row in null_pd.iterrows():
  gu_name=row["시군구명"]
  dong_name=row["행정동명"]

  dongs_pd=collect_dong(gu_name) #3
  nearest_dong_name,nearest_dong_value,nearest_income=get_nearest_dong(dongs_pd,dong_name,target_column)

  predict2=(row["전연령월평균소득"]*nearest_dong_value)/nearest_income

  v10.loc[v10["행정동명"]==dong_name,"노년층연평균소득추정2"]=predict2

  prediction.loc[prediction["행정동"]==dong_name,["추정행정동2","결과2"]]=[nearest_dong_name,predict2]

In [ ]:
v10.reset_index()
v10
v10.loc[:,"노년층연평균소득추정2"]

0      6911.827148
1         0.000000
2      5022.211256
3         0.000000
4      7042.639566
          ...
421    3894.147500
422       0.000000
423       0.000000
424       0.000000
425       0.000000
Name: 노년층연평균소득추정2, Length: 426, dtype: float64

In [ ]:
v10.to_excel("/content/drive/MyDrive/asac/project/eda/filtered/v10.xlsx")

In [ ]:
prediction.to_excel("/content/drive/MyDrive/asac/project/eda/filtered/노년층연평균소득추정.xlsx")

### 추정치 값 차이 비교

In [ ]:
prediction["결과차이_1-2"]=abs(prediction["결과1"]-prediction["결과2"])
prediction["결과차이_2-3"]=abs(prediction["결과3"]-prediction["결과2"])

In [ ]:
prediction

,행정동,추정행정동1,결과1,추정행정동2,결과2,추정행정동3,결과3,결과차이_1-2,결과차이_2-3
0,사직동,평창동,4033.393906,청운효자동,6911.827148,청담동,4114.129636,2878.433242,2797.697512
2,부암동,청운효자동,5022.211256,청운효자동,5022.211256,하계1동,5218.848375,0.0,196.637119
4,무악동,평창동,4109.72944,청운효자동,7042.639566,신사동,6235.319175,2932.910127,807.320392
5,교남동,평창동,3695.346209,청운효자동,6332.53157,고덕1동,8663.660905,2637.185361,2331.129335
8,종로5.6가동,숭인2동,3212.182617,이화동,5282.856858,개봉3동,4647.016967,2070.674241,635.839891
...,...,...,...,...,...,...,...,...,...
418,둔촌1동,명일1동,4612.128989,성내3동,12762.861769,문정1동,5760.946359,8150.73278,7001.91541
420,암사1동,길동,7102.864024,암사3동,3783.155943,길동,7102.864024,3319.708082,3319.708082
421,천호2동,성내2동,8427.925791,천호3동,3894.1475,자양1동,9713.019750,4533.778291,5818.87225
424,상일1동,천호1동,0.0,명일2동,0.0,방학2동,0.000000,0.0,0.0
425,상일2동,천호1동,0.0,강일동,0.0,방학2동,0.000000,0.0,0.0

In [ ]:
sorted=prediction.sort_values(by=["결과차이_1-2","결과차이_2-3"],ascending=False)
top_10=sorted.head(10)
top_10

,행정동,추정행정동1,결과1,추정행정동2,결과2,추정행정동3,결과3,결과차이_1-2,결과차이_2-3
286,여의동,당산2동,5277.383222,신길1동,14096.526054,목1동,5976.439752,8819.142832,8120.086302
418,둔촌1동,명일1동,4612.128989,성내3동,12762.861769,문정1동,5760.946359,8150.73278,7001.91541
378,개포2동,신사동,6251.124416,개포1동,14116.7773,신사동,6251.124416,7865.652884,7865.652884
411,암사2동,명일1동,4766.176124,천호1동,12176.088921,청림동,5050.996423,7409.912797,7125.092498
301,영등포동,신길7동,3450.424468,신길3동,10215.865284,돈암1동,4369.163159,6765.440816,5846.702126
219,서강동,상암동,4305.73805,서교동,10489.081714,송파2동,8986.416043,6183.343664,1502.665671
230,신월5동,신정4동,12132.391836,신월1동,5950.11126,신정4동,12132.391836,6182.280576,6182.280576
92,이문2동,휘경2동,5523.627877,회기동,11640.930275,화곡3동,5817.262771,6117.302398,5823.667504
402,잠실7동,잠실4동,5904.705125,잠실본동,11777.71123,목5동,6525.592222,5873.006105,5252.119008
10,창신1동,숭인2동,3045.012899,창신2동,8722.707309,독산3동,6308.652050,5677.69441,2414.055259

In [ ]:
prediction.to_excel("/content/drive/MyDrive/asac/project/eda/filtered/노년층연평균소득추정.xlsx")